test_job:
  stage: test
  before_script:
    - whoami
    - pwd
    - env
  script:
    - $RAILS_DEPLOY_PATH/bin/test.sh
  tags:
    - development

deploy_dev:
  environment:
    name: development
    url: https://find-dev.library.duke.edu
  stage: deploy
  before_script: &beforedeployscript
    - whoami
    - pwd
    - env
  script: &deployscript
    - $RAILS_DEPLOY_PATH/bin/deploy.sh $CI_PROJECT_DIR
  after_script: &afterdeployscript
    - $RAILS_DEPLOY_PATH/bin/after_deploy.sh
  only:
    - develop
    - playing-with-texting
  tags:
    - development

deploy_pre:
  environment:
    name: pre-production
    url: https://find-test.library.duke.edu
  stage: deploy
  before_script: *beforedeployscript
  script: *deployscript
  after_script: *afterdeployscript
  only:
    - master
    - /^release.*/
    - /^hotfix.*/
  tags:
    - staging

deploy_prod:
  environment:
    name: production
    url: https://find.library.duke.edu
  stage: deploy
  before_script: *beforedeployscript
  script: *deployscript
  after_script: *afterdeployscript
  only:
    - master
  when: manual
  tags:
    - production
