<div class="<%= local_assigns.fetch :swatchclass, 'col-sm-2' %>">
  <div class="color-swatch <%= colorname %>">
    <div class="color-block"></div>
    <code>$<%= colorname %></code>
    <div class="clearfix"></div>
    <div class="contrast-score contrast-score-black"></div>
    <div class="contrast-score contrast-score-white"></div>
  </div>
</div>
