body {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 16px;
  background-color: #eee;
  position: relative; /* needed for Bootstrap scrollspy */
}

#main-container {
  margin-top: 20px;
  & > .row {
    background: white;
    padding: 0 15px;
  }
  #content {
    padding-bottom: 30px;
  }
}


.contracted { /* faded expandable text */
  height: 5.8em !important;
}

a:hover {
  color: $link-hover-color;
}

.underlined-links a {
  text-decoration: underline;
  text-decoration-color: $link-hover-color;
}

.navbar-default .navbar-nav > li > a {
  color: $gray;
}

img.trln_request_icon {
  margin-right: 0.4em;
}
