body {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 16px;
  background-color: #eee;
  position: relative; /* needed for Bootstrap scrollspy */
}

#main-container {
  margin-top: 20px;
  & > .row {
    background: white;
    padding: 0 15px;
  }
  #content {
    padding-bottom: 30px;
  }
}


.contracted { /* faded expandable text */
  height: 5.8em !important;
}

a:hover {
  color: $link-hover-color;
}

.underlined-links a {
  text-decoration: underline;
  text-decoration-color: $link-hover-color;
}

.dropdown-toggle:focus {
  /* for a11y: override bootstrap outline: 0 */
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.navbar-default .navbar-nav > li > a {
  color: $gray;
}

img.trln_request_icon {
  margin-right: 0.4em;
}

.url-note {
    background: #e6f3e7;
    border-left: 4px solid #00830e;
    padding: 5px 10px;
    color: #00760d;
}
