body {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 16px;
  background-color: #eee;
}

#main-container {
  margin-top: 20px;
  & > .row {
    background: white;
    padding: 0 15px;
  }
}

a:hover {
  color: $link-hover-color;
}

.underlined-links a {
  text-decoration: underline;
  text-decoration-color: $link-hover-color;
}

.navbar-default .navbar-nav > li > a {
  color: $gray;
}

.preview-alert {
  margin-bottom: 0;
  border-radius: 0;
  background-color: $dul-dulcet-green;
  color: $gray-darker;

  & .preview-alert-msg {
    margin-right: 1em;
  }
}

img.trln_request_icon {
  margin-right: 0.4em;
}
