#facets {
  a {
    color: $gray;
    &:hover {
      color: $link-hover-color;
    }
    &.remove:hover {
      color: $brand-danger;
    }
  }
  .facet-field-heading a {
    color: $gray-darker;
  }

  .facet_limit-active .facet-field-heading a {
    color: white;
  }

  .panel-success > .panel-heading, .facet_limit-active > .panel-heading, .checkbox-facet-checked {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  & .top-panel-heading {
    padding: 0;
    @media (max-width: $screen-sm) {
      padding: 15px;
    }
  }
  & .panel.facet_limit {
    margin-top: 0;
    margin-bottom: 5px;
    border-radius: 0;
  }

  .facet-values li {
    .selected, &.selected:hover {
      color: $brand-success;
    }
  }

  // Facets from Blacklight Hierarchy gem
  // NOTE: Reconciling w/shared TRLN Argon styles gets tricky
  // See trln_argon/app/assets/stylesheets/trln_argon/trln_argon_shared.scss
  // =======================================================================

  ul.facet-hierarchy {

    // Adjust for local font-size change
    .twiddle > .facet_select {
      height: 21px !important;
    }

    .h-node.twiddle-open > .facet_select {
      &:hover {
        height: 21px !important;
      }
    }

    // Adjust for local facet panel width, i.e., shave 8px width off all
    // fixed widths in facet-hierarchy. Needed b/c extra padding introduced
    // for gray body w/white content background slightly reduces the
    // available width of the sidebar.

    li.h-leaf {
      a:not(.remove) {
        max-width: 232px; // 240px trln_argon
      }
      .selected {
        color: $brand-success;
      }
    }

    @media screen and (min-width: $screen-sm) and (max-width: $screen-lg) {
      .twiddle > .facet_select, .twiddle-open > .facet_select {
        width: 102px; // 110px trln_argon
      }
      ul .twiddle > .facet_select {
        width: 142px; // 150px trln_argon
      }
    }
    @media screen and (min-width: $screen-lg) {
      .twiddle > .facet_select, .twiddle-open > .facet_select {
        width: 142px; // 150px trln_argon
      }
      ul .twiddle > .facet_select {
        width: 127px; // 135px trln_argon
      }
    }

    @media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
      li.h-leaf a {
        max-width: 292px; // 300px trln_argon
      }
    }

    @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
      li.h-leaf {
        a { width: 142px; } // 150px trln_argon
      }
    }

    @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
      li.h-leaf {
        a { width: 150px; } // 150px trln_argon
      }
    }

    @media screen and (min-width: $screen-lg) {
      li.h-leaf {
        width: 197px; // 205px trln_argon
        a { width: 127px; } // 135px trln_argon
      }
    }


    @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
      .twiddle > .facet_select {
        width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        height: 21px !important;
      }
    }

  }

}
