.constraints-container {
  background: #eee;
  border: none;
  box-shadow: none;
  border-radius: 0 0 0 8px;
  margin-top: -1px;
  margin-right: -35px;
  padding-right: 35px;
  @media (max-width: $screen-sm) {
    margin-right: 0;
    padding-right: 15px;
  }
}

#documents {
  .document {
    border-bottom: none;
    padding-bottom: 10px;
    .documentHeader.row {
      margin: 0;
      &:before {
        content: "";
        display: none;
      }
      &:after {
        clear: none;
      }
    }
    h3.document-title-heading {
      float: none;
      font-size: 1.5em;
      padding: 0;
      margin-top: 0;
      a:hover {
        text-decoration: underline;
        color: $link-hover-color;
      }
    }
    .index-document-functions {
      float: right;
      margin-left: 1em;
      margin-bottom: 10px;
      position: relative;
      z-index: 10; /* must exceed .document-title-heading's z-index */
    }

  }
}

.blacklight.thumbnail {
  margin-bottom: 10px;
  img {
    margin: 0;
    padding: 0;
    border: none !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}


.index-document-metadata {
  float: none;
  margin-bottom: 0.5em;
  /* Emulate clearfix */
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  & ul {
    margin-left: 0;
  }
}

.index-metadata {
  float: none;
  &.statement_of_responsibility_a {
    display: block;
    font-weight: bold;
    color: #555;
  }
  /* Make secondary metadata fields display on one line, separated by slashes */
  &.imprint_main_a,
  &.edition_a,
  &.resource_type_a,
  &.physical_media_a {
      display: inline;
      &::after {
        content: " / ";
        color: $gray-light;
        margin: 0 0.4em;
      }
      &:last-of-type::after {
        content: "";
        margin: 0;
      }
    }
}

/* hide start over and edit buttons */
#startOverLink,
#editSearchLink {
  display: none;
}
