.constraints-container {
  background: #eee;
  border: none;
  box-shadow: none;
  border-radius: 0 0 0 8px;
  margin-top: -1px;
  margin-right: -35px;
  padding-right: 35px;
  @media (max-width: $screen-sm) {
    margin-right: 0;
    padding-right: 15px;
  }
}

#documents {
  .document {
    border-bottom: none;
    padding-bottom: 10px;
    .documentHeader.row {
      margin: 0;
      &:before {
        content: "";
        display: none;
      }
      &:after {
        clear: none;
      }
    }
    h3.document-title-heading {
      float: none;
      font-size: 1.5em;
      padding: 0;
      margin-top: 0;
      a:hover {
        text-decoration: underline;
        color: $link-hover-color;
      }
    }
    .index-document-functions {
      float: right;
      padding-left: .5em;
      margin-bottom: 10px;
      position: relative;
      z-index: 10; /* must exceed .document-title-heading's z-index */
      clear: right;
    }

  }
}

.blacklight.thumbnail {
  margin-bottom: 10px;
  img {
    margin: 0;
    padding: 0;
    border: none !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    max-width: 78px;
  }
}


.index-document-metadata {
  float: none;
  margin-bottom: 0.5em;
  /* Emulate clearfix */
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  & ul {
    margin-left: 0;
  }
}

.index-metadata {
  float: none;
  &.statement_of_responsibility_a {
    display: block;
    font-weight: bold;
    color: #555;
  }
  /* Make secondary metadata fields display on one line, separated by slashes */
  &.imprint_main_a,
  &.edition_a,
  &.resource_type_a,
  &.physical_media_a {
      display: inline;
      &::after {
        content: " / ";
        color: $gray-light;
        margin: 0 0.4em;
      }
      &:last-of-type::after {
        content: "";
        margin: 0;
      }
    }
}

.barcode-label {
  background: #e5e5e5;
  color: #444;
  border: 1px solid #ddd;
  border-color: #ddd !important;
  padding-top: calc(.2em - 1px);
  padding-bottom: calc(.3em - 1px);
  margin-right: .75em;
}

.barcode-content {
  display: inline;
}

@media (min-width: $screen-xs) {
  .barcode-wrapper {
    margin-left: -4.5em;
    min-width: 10em;
  }
}

@media (min-width: $screen-md) {
  .barcode-wrapper {
    min-width: 15em;
  }
}

.barcode-wrapper {
  width: 100%;
  margin-top: .5em;
  display: none;
}

.barcode-toggle-wrapper {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 15px;
}

.barcode-toggle {
  color: $gray;
}

/* hide start over and edit buttons */
#startOverLink,
#editSearchLink {
  display: none;
}

.primary-url ul li a {
  display: inline-block !important;
}

.link-title-text {
  padding-left: .5em;
}

div.primary-url {
  width: 100% !important;
}

#documents .document h3.document-title-heading {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  display: block;
  display: -webkit-box;
  max-height: 3.6em;
  margin: 0 auto;
  margin-bottom: 10px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $primary-link-color;
}

@-moz-document url-prefix() {
  #documents .document {
    h3.document-title-heading::before {
      background: #fff;
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 3rem;
    }

    h3.document-title-heading::after {
      content: '';
      background: #fff;
      position: absolute;
      height: 3.6em;
      width: 100%;
      z-index: 1;
    }
  }
}

#documents .document {
  .has-request,
  .has-thumbnail,
  .has-request-and-thumbnail {
    width: calc(100% - 92px);
  }
}

@media (min-width: $screen-sm) {

  #documents .document {
    .index-document-functions {
      clear: none;
    }
    .has-request-and-thumbnail {
      width: calc(100% - 184px);
    }
  }

}

.flex-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-columns > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.no-results .well {
  width: 100%;
  h4 { font-weight: bold; }
}

@media (min-width: $screen-md) {

  .no-results .well {
    width: calc(1/2*100% - (1 - 1/3)*10px);
    margin-bottom: 2em;
  }

  .no-results .col-md-12.well {
    width: 100%;
  }

}

.view_trln_results .btn {
  padding: 1em 2em;
  width: 100%;
}
