/* Style the Request button like the rest of the "document tools" pills */
/* styled in trln_argon. Temporary, to be revisted when more attention */
/* can be paid toward show page. */

#document-tools .btn-success {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  &:hover, &:active {
   background: #449d44;
  }
}
