<% unless hathitrust_argon_url_hash.fetch(:href, nil).blank? %>
  <div class="<%= primary_link_class %>">
    <ul>
      <li><%= link_to_open_access(hathitrust_argon_url_hash) %></li>
    </ul>
    <div class="etas-note-wrapper">
      <dl class="dl-horizontal">
        <dt><span class="url-note-label label label-info">Note</span></dt>
        <dd><span class="url-note">View a version of this item from HathiTrust.</span></dd>
      </dl>
    </div>
  </div>
  <div class="<%= items_spacer_class %>"></div>
<% end %>
