<!-- NOTE: Override of partial from TrlnArgon gem to turn off -->
<!--       HathiTrust links for Rubenstein records. -->

<% if show_hathitrust_link_if_available?(document) %>
  <div class="hathi-trust-link oclc<%= document.oclc_number %>"
       data-oclc-number="<%= document.oclc_number %>">
  </div>
<% end %>
