<%# These elements are skeleton screen placeholders that will get replaced %>
<%# with real content once AJAX loading has completed for new additions %>
<li class="placeholder">
  <div class="new-additions-thumb-skeleton"></div>
  <div class="new-additions-title-skeleton"></div>
  <div class="new-additions-author-skeleton"></div>
</li>
