<div class="page-header">
  <h1 class="main-title"><%= t('blacklight.home.welcome') %></h1>
  <p class="tagline"><%= t('blacklight.home.blurb') %></h4>
</div>

<ul class="underlined-links home-welcome-links">
  <li>Try our <a href="#" target="_blank">search tips</a> for help in searching this catalog</li>
  <li><a href="https://library.duke.edu/research/ask" target="_blank">Ask a Librarian</a> to get answers quickly</li>
  <li>Use <a href="http://proxy.lib.duke.edu/login?url=http://firstsearch.oclc.org/fsip?dbname=worldcat&amp;screen=advanced" target="_blank">WorldCat</a> to search holdings from libraries worldwide</li>
</ul>

<hr/>

<h5 class="text-uppercase text-muted">Other Resources</h5>
<ul class="list-inline home-other-resources">
  <li class="list-inline-item">
    <a href="https://library.duke.edu/find/articles" target="_blank">Articles</a>
  </li>
  <li class="list-inline-item">
    <a href="https://library.duke.edu/find/journal-titles" target="_blank">Online Journal Titles</a>
  </li>
  <li class="list-inline-item">
    <a href="https://guides.library.duke.edu/az.php" target="_blank">Research Databases</a>
  </li>
  <li class="list-inline-item">
    <a href="https://repository.duke.edu/dc" target="_blank">Digitized Collections</a>
  </li>
  <li class="list-inline-item">
    <a href="https://library.duke.edu/find" target="_blank">More search options</a>
  </li>
</ul>
