
<%# NOTE: Overrides trln_argon partial %>
<% if physical_items?(document: document) %>
  <div class="staff-view-toggle-wrapper staff-view-<%= action_name %>">
    <a href="#" class="staff-view-toggle"
       data-show-text="<%= t('trln_argon.show_staff_view') %>"
       data-hide-text="<%= t('trln_argon.hide_staff_view') %>"><%= t('trln_argon.show_staff_view') %></a>
  </div>
<% end %>

