<%# NOTE: Overrides trln_argon partial %>

<% title = document[TrlnArgon::Fields::TITLE_MAIN] %>
<% call_no = item.fetch('call_no', '') %>

<% if (loc_b != 'ONLINE' && document.record_association == "duke" ) %>

    <span class="map-info">
      <%= link_to t('trln_argon.map_location.icon_html'),
                  map_location_path(loc_n: loc_n,
                                    loc_b: loc_b,
                                    title: title,
                                    call_no: call_no),
                  aria: { label: 'where to find it' },
                  data: { ajax_modal: 'trigger' },
                  class: 'location-modal-toggle'
      %>
    </span>

<% end %>

<div class="barcode-wrapper">
  <span class="barcode-label label label-info">
    <%= t('trln_argon.barcode.label') %>
  </span>
  <div class="barcode-content"></div>
</div>
