<%# Combine top-level nav links from the catalog & the DUL shared mast %>
<%# into one, so we have only one hamburger menu. %>
<div id="mobile-only-menu" class="collapse">
  <div class="col-xs-12">
    <ul class="nav navbar-nav">
      <li>
        <a href="https://library.duke.edu/my-accounts">My Accounts</a>
      </li>
      <li>
        <a href="https://library.duke.edu/research/ask">Ask a Librarian</a>
      </li>
      <li>
        <a href="https://library.duke.edu/find">Search &amp; Find</a>
      </li>
      <li>
        <a href="https://library.duke.edu/using">Using the Library</a>
      </li>
      <li>
        <a href="https://library.duke.edu/research">Research Support</a>
      </li>
      <li>
        <a href="https://library.duke.edu/course-support">Course Support</a>
      </li>
      <li>
        <a href="https://library.duke.edu/libraries">Libraries</a>
      </li>
      <li>
        <a href="https://library.duke.edu/about">About</a>
      </li>
    </ul>
  </div>
</div>
