<%= link_to(url_for(params.merge(format: 'rss', \
      sort: 'date_cataloged desc, publication_year_isort desc')), \
      class: 'btn btn-default', id: 'rss_button', title: 'RSS feed') do %>
  <i class="fa fa-rss" aria-hidden="true"></i>
  <span class="sr-only">RSS</span>
<% end %>
