
/*$institution-logo: 'branding/dul_logo.png';
$institution-icon: 'branding/unc_icon.png';*/

/*$primary-color: #043482; // this is 'Duke Blue'*/


/*@import 'trln_argon/trln_argon';*/


/* trln_argon dependences: blacklight_advanced_search, blacklight_range_limit, etc. */
@import 'trln_argon/trln_argon_dependencies';

/* variables and settings */
@import 'trln_argon_defaults';

/* additional stylesheets */
@import 'trln_argon/trln_argon_shared';

/* font-awesome */
@import 'font-awesome';

/* font-awesome */
@import 'bootstrap-select';

/* local overrides */
@import 'duke_argon';
